*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    width: 100vw;
    height: 100vh;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(242,152,204,1) 56%);
}