.ProductsContainer {
    width: 100vw;
    min-height: 900px;
}

.ProductsContainer .ProductsCardsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 0px 100px;
}